<a href="https://colab.research.google.com/github/Rizkifadillah/googlecolab/blob/main/data_science/Unsupervised/Part_3_Metadata_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mendapatkan semua image path

In [1]:
from glob import glob

In [3]:
fname = glob('/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/*/*.png')
fname[:10]

['/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/1.png',
 '/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/2.png',
 '/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/3.png',
 '/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/6.png',
 '/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/5.png',
 '/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/4.png',
 '/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/7.png',
 '/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/8.png',
 '/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/10.png',
 '/content/drive/MyDrive/course_ipynb/Unstructured_Data/assets/1/9.png']

# X = Path -> Image -> Flatten

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
X = np.array([plt.imread(f).flatten() for f in fname])
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

# y = Path -> split -> ambil[1]

In [7]:
y = np.array([int(f.split("/")[7]) for f in fname])
y

array([1, 1, 1, ..., 9, 9, 9])

In [8]:
y.shape

(2000,)

# Join sebagai 1 dataframe lalu save as csv

In [9]:
df = pd.DataFrame(X, columns=range(1, 785))
df.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df['label'] = y
df.head()

,1,2,3,4,5,6,7,8,9,10,...,776,777,778,779,780,781,782,783,784,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [ ]:
# Save ke csv

In [12]:
df.to_csv('/content/drive/MyDrive/course_ipynb/Unstructured_Data/metadata_exercise.csv', index=None)